
@{
    ViewData["Title"] = "Supervisor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src='~/images/check.png' hidden>
<img src='~/images/cross.png' hidden>

<div class="topnav">
    @Html.ActionLink("Nieuw examen", "CreateExam", "Home", new { area = "" }, new { @class = "button active" })
    <a onclick="load"><img src='~/images/refresh.png' width="25px"></a>
    <input type="text" id="search" placeholder="Zoek op namen" class="col-md-8">
</div>
<br />
<div id="exams" class="table-responsive"></div>
<script>

    setInterval(function() {
        load();
    }, 10000);

    window.onload = (function () {
        load();
    });

    function deleteStudent(studentId) {
        $.ajax({
            url: "https://localhost:44366/students/DeleteStudent?="+studentId,type:'DELETE', success: function (result) {

                console.log(result);
            }
        });
        load();
    }
    

    function load() {
        $.ajax({
            url: "https://localhost:44366/supervisor/GetInfoOnExams",
            success: function (result) {

                $('#exams').html("");
                for (var i = 0; i < result.length; i++) {
                    var examsession = result[i];
                    var examName = examsession.examName.split(" ").join( "_");
                    $('#exams').append("<H1 style='display:inline'>" + result[i].examName + "</H1>");
                    $('#exams').append("<form action='https://localhost:44366/solutions/ExportSolutions'><input class='export' type='hidden' name='examName'value='"+examsession.examName+"'/><input type='submit' class='btn btn-primary pull-right' value='Exporteer'/></form>");
                    $('#exams').append("<table name='examtables' class='table' id=" +
                        examName+
                        " ><thead ><tr ><th class='col-sm-2'>Naam</th><th class='col-sm-2'>Studentnr</th><th class='col-sm-1'>uploaded</th><th class='col-sm-1'>downloaded</th><th class='col-sm-5'>md5</th><th class='col-sm-1'></th></tr></thead><tbody></tbody></table>");



                    for (var a = 0; a < examsession.studentInformation.length; a++) {
                        var naam = examsession.studentInformation[a].name;
                        var studentnr = examsession.studentInformation[a].studentId;
                        var uploaded = examsession.studentInformation[a].uploaded;
                        var downloaded = examsession.studentInformation[a].downloaded;
                        var md5 = examsession.studentInformation[a].mD5_Hash;

                        if (uploaded == true) {
                            uploaded = "<img src='/images/check.png'>";
                        } else {
                            uploaded = "<img src='/images/cross.png'>";
                        }
                        if (downloaded == true) {
                            downloaded = "<img src='/images/check.png'>";
                        } else {
                            downloaded = "<img src='/images/cross.png'>";
                        }
                        console.log(examName);
                        $('#' + examName + ' tbody').append('<tr >' +
                            "<td class='text'>" +
                            naam +
                            '</td><td>' +
                            studentnr +
                            '</td><td>' +
                            uploaded +
                            '</td><td>' +
                            downloaded +
                            '</td><td>' +
                            md5 +
                            '</td><td>' +
                            '<button class ="btn btn-primary pull-right" onclick="deleteStudent('+studentnr+');">Verwijder</button>'
                            +'</td></tr>');

                    }
                }

            }
        });


    }
</script>

<script>
    $(document).ready(function () {
        $('#search').keyup(function () {
            searchTable($(this).val());
        });
    });

    function searchTable(inputVal) {
        var table = $('.table');
        table.find('tr').each(function (index, row) {
            var allCells = $(row).find('td');
            if (allCells.length > 0) {
                var found = false;
                allCells.each(function (index, td) {
                    var regExp = new RegExp(inputVal, 'i');
                    if (regExp.test($(td).text())) {
                        found = true;
                        return false;
                    }
                });
                if (found == true) $(row).show();
                else $(row).hide();
            }
        });
    }
</script>

<style>
    table {
        width: 100%;

    }
    .topnav {
        width: 100%;
        overflow: hidden;
        background-color: #e9e9e9;
        border-radius: 8px 8px 0px 0px;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    input {
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the "active" element to highlight the current page */
    .topnav a.active {
        background-color: #2196F3;
        color: white;
    }
    /* Style the search box inside the navigation bar */
    .topnav input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }

    .body-content {
        padding-left: 0px;
        padding-right: 0px;
    }
    td{
        width: 0%;
        font-size: 17px;
        color: black;
        font-family: sans-serif;
        
    }
    H1 {
        margin-left: 10px;
    }
    .btn {
        margin-right: 5px;
    }
</style>
