#body {
    border: black;
    border-style: solid;
    border-width: 2px;
    margin-top: 40px;
    border-radius: 10px;
    background: white;
    background-position: center;
    background-position: center;
}

﻿body {
     padding-top: 50px;
     padding-bottom: 20px;
 }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

table {
    width: 80%;
}
th {
    width: 20%;
}
td {
    width: 20%;
    color: blue;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.input-group {
    border-collapse: separate;
}